$color: (
  coffee1: #40362d,
  coffee2: #4a4037,
  coffee3: #371e1b,
  coffee: #1e1311,
  lighten-red1: #ef3134,
  lighten-red2: #cb2027,
);

body {
  width: 100%;
  margin: 0px;
  margin: 0;
  height: 100vh;
  font-family: "Sansita Swashed", cursive;

  marquee {
    background-color: yellow;
    color: black;
    width: 100%;
    z-index: -1;
  }

  .header {
    width: 100%;
    height: 65px;
    margin: 0;
    position: fixed;
    z-index: 1;
    background-color: map-get($map: $color, $key: coffee3);

    text-align: center;
    h2 {
      height: 65px;
      line-height: 65px;
      margin: 0;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      float: left;

      a {
        text-decoration: none;
        color: white;
      }
    }

    ul {
      display: inline;
      margin: 0;
      height: 65px;
      float: right;
      padding-right: 20px;
      li {
        display: inline;
        line-height: 65px;
        font-size: 1em;
        margin-right: 20px;
        font-weight: 600;

        a {
          color: darken($color: white, $amount: 2%);
          text-decoration: none;
          transition: box-shadow 0.5s;
          padding: 8px;
          border-radius: 15px;

          &:hover {
            color: white;
            -webkit-box-shadow: 1px 1px 36px -10px rgb(255, 255, 255);
            -moz-box-shadow: 1px 1px 36px -10px rgb(255, 255, 255);
            box-shadow: 1px 1px 36px -10px rgb(255, 255, 255);
          }
        }
      }

      li:nth-child(2) {
        position: relative;
        display: inline-block;

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 0;
          height: auto;
          z-index: 1;
          list-style: none;
          width: 100%;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          li {
            display: block;
            width: 100%;
            height: 60px;
            text-indent: 10px;
            line-height: 60px;
            &:hover {
              -webkit-box-shadow: -2px 23px 54px -10px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: -2px 23px 54px -10px rgba(0, 0, 0, 0.75);
              box-shadow: -2px 23px 54px -10px rgba(0, 0, 0, 0.75);
              background-color: map-get($map: $color, $key: coffee3);
              color: white;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }
        }
        &:hover {
          .dropdown-content {
            display: block;
          }
        }
      }
    }
  }

  .main {
    margin: 0;
    width: 100%;
    padding-top: 65px;

    .cards {
      width: 70%;
      float: left;
      height: 100%;
      .card {
        width: 23%;
        float: left;
        height: 325px;
        z-index: 2;

        background-color: darken($color: white, $amount: 4%);
        margin: 1%;
        padding: 0;
        transition: box-shadow 0.5s;
        border-radius: 15px;
        .card-cover {
          display: inline;
          width: 100%;
          height: 200px;
          margin: 0px;
          object-fit: cover;
          background-color: black;
        }

        .card-title {
          height: 60px;
          line-height: 60px;
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          font-weight: 700;
          // margin-top: -8.5px;
          // margin-bottom: -7px;
          text-indent: 15px;
          background-color: map-get($map: $color, $key: coffee3);
          float: left;
          color: white;
          font-size: 14px;
        }

        .card-info {
          margin-top: -8.5px;
          height: 65px;
          display: flex;
          vertical-align: middle;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;

          .card-price {
            // height: 60px;
            // line-height: 60px;
            float: right;
            padding: 4px;
            margin-left: 10px;
            color: black;
            border-radius: 15px;
            font-size: 13px;
            font-weight: 600;
          }
          button {
            padding: 10px 15px 10px 15px;
            margin-right: 7px;
            background-color: lighten($color: red, $amount: 10%);
            border: 0;
            border-radius: 10px;
            color: white;
            font-size: 13px;
          }
        }

        &:hover {
          // -webkit-box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
          // -moz-box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
          // box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 31px 38px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 31px 38px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 31px 38px -9px rgba(0, 0, 0, 0.75);
        }
      }
    }
    .hot-items {
      width: 30%;
      padding: 0;
      float: right;
      position: fixed;
      right: 0;
      top: 65px;
      background-color: darken($color: white, $amount: 10%);
      h2 {
        width: 100%;
        text-align: center;
      }
      .items {
        width: 100%;
        .item {
          width: 100%;
          display: none;
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }
          p {
            position: relative;
            margin-top: -40px;
            height: 40px;
            line-height: 40px;
            width: 100%;
            color: white;
            background-color: map-get($map: $color, $key: coffee3);
            text-align: center;
            padding: 0;

            span {
              background-color: white;
              color: black;
              padding: 5px;
              margin-left: 5px;
              font-size: 12px;
            }
          }
        }
        .left,
        .right {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        .right {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        .left:hover,
        .right:hover {
          background-color: rgba(115, 115, 115, 0.8);
        }
      }
    }
  }

  .cart {
    padding-top: 65px;
    h2 {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
    }

    table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
      margin: 0% 5% 1% 5%;

      tr {
        th,
        td {
          padding: 1em;
          border: 1px solid;
          //   border-bottom: 2px solid white;
          text-align: center;
          img {
            width: 100%;
            height: 140px;
            object-fit: cover;
          }
        }

        td:nth-child(1) {
          width: 200px;
          padding: 0;
        }

        td:nth-child(4) {
          width: 50px;
        }
        td:nth-child(5) {
          width: 100px;
        }
        td:nth-child(6) {
          width: 80px;
        }
      }
      tr:nth-child(1) {
        background-color: map-get($map: $color, $key: coffee3);
        color: white;
      }
    }

    button {
      padding: 16px;
      border: 0;
      border-radius: 15px;
      color: white;
      float: right;
      margin: 20px 60px 100px 0;
      background: lighten(red, 10%);
      transition: box-shadow 0.5s;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        color: white;
        -webkit-box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 12px 40px 1px rgba(0, 0, 0, 0.75);
      }
    }
  }

  .footer {
    width: 100%;
    background-color: map-get($map: $color, $key: coffee3);
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    h2 {
      width: 100%;
      text-indent: 35px; //   text-align: center;
    }

    div {
      width: 33.3%;
      float: left;

      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      ul {
        margin: auto;
        display: block;
        list-style: none;
        margin-bottom: 20px;
      }
    }

    div:nth-child(1) {
      width: 66.66%;
      text-align: center;
    }
  }

  .home {
    .bg {
      width: 100%;
      height: 100vh;
      margin: 0;
      position: absolute;
      z-index: -1;

      .slide {
        width: 100%;
        height: 100%;
        display: none;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .welcome {
      color: white;
      font-size: 50px;
      position: absolute;
      top: 40%;
      right: 20%;
      font-family: "Sansita Swashed", cursive;
      width: 30%;
      animation: slide-up ease 2s;
      //animation: name duration timing-function delay iteration-count direction    //   fill-mode;
      -webkit-animation: slide-up ease 2s;
      -moz-animation: slide-up ease 2s;
    }

    // .let-order {
    //   padding: 20px 30px 20px 30px;
    //   background-color: transparent;
    //   border: 1px solid white;
    //   position: absolute;
    //   color: #f9f9f9;
    //   font-size: 24px;
    //   border-radius: 15px;
    //   top: 60%;
    //   left: 10%;
    //   transition: padding 0.5s;
    //   -webkit-border-radius: 15px;
    //   -moz-border-radius: 15px;
    //   -ms-border-radius: 15px;
    //   -o-border-radius: 15px;
    //   -webkit-transition: padding 0.5s;
    //   -moz-transition: padding 0.5s;
    //   -ms-transition: padding 0.5s;
    //   -o-transition: padding 0.5s;
    //   font-family: "Sansita Swashed", cursive;
    //   text-shadow: 1px 0px 5px map-get($map: $color, $key: coffee3);
    //   &:hover {
    //     color: white;
    //     padding-left: 40px;
    //   }
    //   a {
    //     text-decoration: none;
    //     color: white;
    //   }
    // }

    // .testing {
    //   background-color: transparent;
    //   position: absolute;
    //   max-width: 155px;
    //   top: 50%;
    //   left: 10%;
    //   color: white;
    //   overflow-y: hidden;
    //   height: 50px;
    //   transition: height 0.8s;
    //   -webkit-transition: height 0.8s;
    //   -moz-transition: height 0.8s;
    //   -ms-transition: height 0.8s;
    //   -o-transition: height 0.8s;
    //   button {
    //     height: 50px;
    //     width: 100%;
    //     background-color: transparent;
    //     color: white;
    //     border: 1px solid white;
    //     font-size: 22px;
    //     border-radius: 15px;
    //     -webkit-border-radius: 15px;
    //     -moz-border-radius: 15px;
    //     -ms-border-radius: 15px;
    //     -o-border-radius: 15px;
    //     transition: border-radius 0.5s;
    //     transition-timing-function: ease;
    //     -webkit-transition: border-radius 0.5s;
    //     -moz-transition: border-radius 0.5s;
    //     -ms-transition: border-radius 0.5s;
    //     -o-transition: border-radius 0.5s;
    //   }
    //   p {
    //     margin: 0em;
    //     height: 100px;
    //     background-color: white;
    //     color: white;
    //   }
    //   &:hover {
    //     height: 150px;

    //     button {
    //       border-bottom-left-radius: 0px;
    //       border-bottom-right-radius: 0px;
    //       background-color: white;
    //       color: black;
    //       transition: border-radius 0.5s;
    //       -webkit-transition: border-radius 0.5s;
    //       -moz-transition: border-radius 0.5s;
    //       -ms-transition: border-radius 0.5s;
    //       -o-transition: border-radius 0.5s;
    //     }
    //   }
    // }

    .lets-order {
      position: absolute;
      width: 15%;
      overflow: hidden;
      height: 50px;
      top: 60%;
      font-size: 20px;
      left: 10%;
      color: white;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 15px;
      //p:;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      animation: fadeIn 1.5s;
      //width: 100%;
      //margin: 0em;
      //:;
      -webkit-animation: fadeIn 1.5s;
      //button:;
      //height: 50px;
      //line-height: 50px;
      //text-align: center;
      //width: 100%;
      //border: 0;
      //background-color: transparent;
      //font-size: 20px;
      //color: white;
      //:;

      // p {
      //   height: 100px;
      //   margin-top: 10px;
      // }

      &:hover {
        background-color: white;
        color: black;
        border: 0;
      }
    }

    .fade-in {
      position: absolute;
      top: 30%;
      left: 10%;
      color: white;
      font-size: 60px;
      font-family: "Sansita Swashed", cursive;
      animation: fadeIn ease 2s 5s;
      // animation: name duration timing-function delay iteration-count direction
      //   fill-mode;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        left: -30%;
      }

      100% {
        opacity: 1;
        left: 10%;
      }
    }

    @-o-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes slide-up {
      0% {
        opacity: 0;
        top: 70%;
      }

      100% {
        opacity: 1;
        top: 40%;
      }
    }

    @-moz-keyframes slide-up {
      0% {
        opacity: 0;
        top: 70%;
      }

      100% {
        opacity: 1;
        top: 30%;
      }
    }
  }

  .form {
    padding-top: 95px;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    .signup {
      background-color: darken($color: white, $amount: 7%);
      width: 50%;
      display: display;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      h2 {
        margin-left: 15%;
        width: 70%;
        margin-right: 15%;
        margin-top: 50px;
      }
      p {
        margin-left: 15%;
        width: 70%;
        margin-right: 15%;

        button {
          padding: 5px;
          border-radius: 10px;
          background-color: map-get($map: $color, $key: lighten-red2);

          color: white;
          border: 0;
          text-decoration: underline;
        }
      }
      form {
        width: 100%;
        input {
          font-size: 16px;
          width: 70%;
          margin-left: 15%;
          margin-right: 15%;
          margin-bottom: 20px;
          height: 40px;
          line-height: 40px;
          text-indent: 10px;
          border-radius: 15px;
          border: 0;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          transition: box-shadow 0.5s;
          -webkit-transition: box-shadow 0.5s;
          -moz-transition: box-shadow 0.5s;
          -ms-transition: box-shadow 0.5s;
          -o-transition: box-shadow 0.5s;

          &:hover {
            box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
          }
        }

        input[type="submit"] {
          width: 30%;
          background-color: map-get($map: $color, $key: lighten-red2);
          color: white;
          margin-bottom: 50px;
          margin-top: 20px;
        }

        input[type="checkbox"] {
          width: 10%;
          display: block;
          height: 20px;
          width: 20px;
        }

        span {
          margin-left: 15%;
          text-indent: 10px;
        }
      }
    }
    .signin {
      background-color: darken($color: white, $amount: 7%);
      width: 50%;
      display: none;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
      h2 {
        margin-left: 15%;
        width: 70%;
        margin-right: 15%;
        margin-top: 50px;
      }
      p {
        margin-left: 15%;
        width: 70%;
        margin-right: 15%;

        button {
          padding: 5px;
          background-color: map-get($map: $color, $key: lighten-red2);
          border-radius: 10px;
          color: white;
          border: 0;
          text-decoration: underline;
        }
      }
      form {
        width: 100%;

        input {
          font-size: 16px;
          width: 70%;
          margin-left: 15%;
          margin-right: 15%;
          margin-bottom: 20px;
          height: 40px;
          line-height: 40px;
          text-indent: 10px;
          border-radius: 15px;
          border: 0;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          transition: box-shadow 0.5s;
          -webkit-transition: box-shadow 0.5s;
          -moz-transition: box-shadow 0.5s;
          -ms-transition: box-shadow 0.5s;
          -o-transition: box-shadow 0.5s;

          &:hover {
            box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -4px 2px 28px -2px rgba(0, 0, 0, 0.75);
          }
        }

        input[type="submit"] {
          width: 30%;
          background-color: map-get($map: $color, $key: lighten-red2);
          color: white;
          margin-bottom: 50px;
          margin-top: 20px;
        }

        input[type="checkbox"] {
          width: 10%;
          display: block;
          height: 20px;
          width: 20px;
        }

        span {
          margin-left: 15%;
          text-indent: 10px;
        }
      }
    }
  }

  .feedback {
    width: 70%;
    padding-top: 10%;
    margin: 0 15% 5% 15%;

    fieldset {
      padding: 30px;
      border-radius: 15px;
      border: 1px solid black;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      width: 100%;
      label {
        width: 200px;
      }
      input {
        width: 50%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 10px;
      }

      textarea {
        width: 100%;
        margin-top: 20px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid black;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 10px;
      }

      button {
        margin-top: 20px;
        padding: 10px 30px 10px 30px;
        border: 0;
        background-color: map-get($map: $color, $key: lighten-red1);
        color: white;
        font-size: 16px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        transition: box-shadow 0.5s;
        &:hover {
          -webkit-box-shadow: -1px 11px 26px -2px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -1px 11px 26px -2px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 11px 26px -2px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
